mixin topSong(title,data)
  h2.main-title= title
    i.mx-2.fa-solid.fa-circle-play
  button.button.active Việt Nam
  button.button Âu Mỹ
  button.button Hàn Quốc
  ul
      each item,index in data
          li
            a(href="#!")
              .list-chart-music.d-flex.align-items-center.justify-content-start
                -if (index ===0 )
                  .first-img
                    div(class=`special-${index} index`)= item.id
                    img(src="./assets/images/top-album/top1.jpeg", alt="photo")
                -else
                  div(class=`special-${index} index`)= item.id
                .d-flex.flex-column.text-start.ml-3
                  p.box-right-tiltle= item.title
                  p.description= item.singer



