mixin topMv(title,data)
    h2.main-title= title
      i.mx-2.fa-solid.fa-circle-play
    div.btn-radius
      button.button.active Việt Nam
      button.button Âu Mỹ
      button.button Hàn Quốc
    ul.top-mv
        each item,index in data
            li
              a(href="#!")
                .list-chart-music
                  -if (index ===0 )
                    .first-img
                      span(class=`special-${index} index`)= item.id
                      img(src="./assets/images/bxh-mv/01.jpeg", alt="photo")
                  -else
                    img(src=`./assets/images/bxh-mv/0${item.id}.jpg`, alt="photo")
                    span(class=`index special-${index}`)= item.id
                  .text-start.ml-3
                    p.top-mv-title= item.title
                    p.description= item.singer




